.contactContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.titleContact{
    color:#F06000;
}
.firstRow{
    color:white;
}
.secondRow{
    color:white;
}

.icon{
    color: black;
    width: 60px;
    height: 60px;
    background: #F06000;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    font-size: 22px;
}
.icon2{
    color: black;
    min-width: 60px;
    height: 60px;
    background: #F06000;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    font-size: 22px;
}
.icon3{
    color: black;
    min-width: 60px;
    height: 60px;
    background: #F06000;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    font-size: 22px;
}
.wazeContact{
    font-size: 20px;
}
