.appointment{
    position: absolute;
    top: 50%;
    right: 26%;
    height: 32%;
    width: 32%;
    border-radius: 50px;
    transition: transform 1s;
    animation: animateButton 5s;
}

.font {
    font-family: 'Rampart One', cursive;
}

@keyframes animateButton {
    from { opacity: 0.01;}
    to {opacity: 1;}
  }

.fullscreen-bg{
    width: 100%;
    height: 100%;
    opacity: 0.5;
    animation: animateMovie 2s;
}
@keyframes animateMovie {
   from {transform: scale(0.01);}
   to {transform: scale(1);}
 }


.container {
    position: absolute;
  }
  

.title{
    position: absolute;
    top: 0%;
    left: 0%; 
    color: orange;
    animation: animateButton 5s;
}

.titleForSmallMobile{
    display: none;
}

.secondtitle{
    font-family: 'Montserrat', sans-serif;
}


.nameTitle{
    transform: rotate(180deg);
    font-family: 'Montserrat', sans-serif;
}

@import url(https://fonts.googleapis.com/css?family=Raleway:400,700,900,400italic,700italic,900italic);

#wrapper {
    position: relative;
    width: 100%;
    height: auto;
}

h4 {
    animation: text-shadow 2.5s ease-in-out 1;
    font-size: 5em;
    font-weight: 900;
    line-height: 1;
}

h4:hover {
    animation-play-state: paused;
}


@keyframes text-shadow {
    0% {  
        transform: translateY(0);
    }

    20% {  
        transform: translateY(-1em);

    }

    40% {  
        transform: translateY(0.5em);
    }
    
   60% {
        transform: translateY(-0.25em);

    }

    80% {  
        transform: translateY(0);
    }
}

@media (prefers-reduced-motion: reduce) {
    * {
      animation: none !important;
      transition: none !important;
    }
}

@media screen and ( max-width: 400px){
    .appointment{
        position: absolute;
        top: 45%;
        left: 13%;
        height: 30%;
        width: 60%;
        border-radius: 50px;
    }    
    .title{
        display: none;
    }
    .titleForSmallMobile{
        display: inline;
        position: absolute;
        top: -5%;
        left: -20%; 
        color: orange;
        transform: scale(0.5);
    }


}

