@import url("https://cdn.syncfusion.com/ej2/material.css");

.time{
    background-color: white;
    width: 30%;
    height: 75%;
    margin-left: 30%;
    font-size: 2rem;
   }
.app_img{
    width: 100%;
    height: 100%;
    left: 0%;
    top: 13.5%;
}
.tables{
    right: -60px;
    top: 22px;
}

.book_now{
    background-color: white;
    color: black;
    border-radius: 5px;
    margin-right: 2%;
    margin-bottom: 2%;
    width: 5%;
    transform: scale(2);
}

.book_now:hover{
    transform: scale(3.5);
    filter: alpha(opacity=80);
    opacity: .6;
    background-color: black;
    color: white;
    transition: 250ms;
    cursor: pointer;
}
.closed{
    background-color: rgb(255, 8, 8);
    color:black;
    border-radius: 15px;
    top : 90%;
    left: 50%;
}

.time_button{
    border:3px solid black;
    text-align: right;
    border-radius: 20px;
    background-color: white;
    width: 10%;
    transform: scale(5);
}
.buttonOfStepper{
    position: absolute;
    top: 475%;
    left: 45%;
}
.nextApp{
    position: absolute;
    border:2px solid black;
    columns: 1;
    background-color: white;
    width: 30%;
    height: 60%;
    left: 10%;
    border-radius: 30px;
    top: 218vw;
}

.header{
    color:red;
    font-size: 200%;
    margin-bottom: 0%;
}

.appointment_btn{
    border-radius: 10px;
    color:white;
    background-color: red;
}

.appointment_btn:hover{
    color:black;
    background-color: red;
}
.start{
    top: 500px;
    right: 230px;
    width: 100px;
}

.end{
    top: 500px;
    right: 50px;
    width: 100px;
}

.time_table{
    top: 60px;
    right: 30px;
}
.clientNextApp{
    color:orange;
    transform: scale(3);
    margin-bottom: 10px;
}
@media screen and ( max-width: 960px){
    .time{
        background-color: white;
        position:absolute;
        margin-top: 0;
        width: 90%;
        height: 60%;
        margin-left: -45%;
        font-size: 2rem;
       }
    .nextApp{
        position: absolute;
        border:2px solid black;
        columns: 1;
        background-color: white;
        width: 90%;
        height: 30%;
        left: 5%;
        border-radius: 10px;
        top: 750vw;
    }

}