@import url("https://cdn.syncfusion.com/ej2/material.css");

.appointmentContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding-top: 5%;
    padding-bottom: 5%;
}


.time{
    background-color: white;
    font-size: 2rem;
   }
.app_img{
    width: 100%;
    height: 100%;
    left: 0%;
    top: 13.5%;
}
.tables{
    right: -60px;
    top: 22px;
}

.book_now{
    background-color: white;
    color: black;
    border-radius: 5px;
    margin-right: 2%;
    margin-bottom: 2%;
    width: 5%;
    transform: scale(2);
}

.book_now:hover{
    transform: scale(3.5);
    filter: alpha(opacity=80);
    opacity: .6;
    background-color: black;
    color: white;
    transition: 250ms;
    cursor: pointer;
}
.closed{
    background-color: rgb(255, 8, 8);
    color:black;
    border-radius: 15px;
    top : 90%;
    left: 50%;
}

.time_button{
    border:3px solid black;
    text-align: right;
    border-radius: 20px;
    background-color: white;
    width: 10%;
    transform: scale(5);
}
.buttonOfStepper{
    position: absolute;
    top: 475%;
    left: 45%;
}
.nextApp{
    position: absolute;
    border:2px solid black;
    columns: 1;
    background-color: white;
    width: 30%;
    height: 60%;
    left: 10%;
    border-radius: 30px;
    top: 218vw;
}

.header{
    color:red;
    font-size: 200%;
    margin-bottom: 0%;
}

.appointment_btn{
    border-radius: 10px;
    color:white;
    background-color: red;
}

.appointment_btn:hover{
    color:black;
    background-color: red;
}
.start{
    top: 500px;
    right: 230px;
    width: 100px;
}

.end{
    top: 500px;
    right: 50px;
    width: 100px;
}

.time_table{
    top: 60px;
    right: 30px;
}
.clientNextApp{
    color:#F06000;
    text-align: center;
    margin-bottom: 10px;
}

.sum{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding-bottom: 5%;
}

.DayPicker-Day--selected:not(.DayPicker-Day--disabled):not(.DayPicker-Day--outside) {
    position: relative;
    background-color: #F06000 !important;
    color: #F0F8FF;
}

.showApp{
    padding: 10px 20px;
    font-size: 24px;
    text-align: center;
    cursor: pointer;
    outline: none;
    color: #fff;
    background-color: #F06000;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
}

  
  .showApp:hover {background-color:rgb(255, 115, 0)}
  
  .showApp:active {
    background-color: rgb(255, 115, 0);
    box-shadow: 0 5px #666;
    transform: translateY(4px);
  }

  .hourButton{
    border-radius: 30px;

    border: 2px solid #F06000 ;
}

.hourButton:hover{
    cursor: pointer;
    box-shadow: 0 2px 2px 0 #F06000, 0 2px 2px 0 #F06000;
}

.hourButton:active {
    background-color: #F06000;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
  }


.boxApp{
    border-radius: 50px;
    background-color: rgba(255, 255, 255, 0.377);
}
.hoursShow{
    display: grid;
    grid-template-columns: repeat(5,1fr);
    grid-template-rows: auto;
    align-items: center;
    text-align: center;
    padding-right: 30%;
    padding-bottom: 15%;
    gap: 10%;
}
.hourTitle{
    color: #F06000;
}

.hoursContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding-bottom: 10%;
}

@media screen and ( max-width: 400px){

    .hoursShow{
        display: grid;
        grid-template-columns: repeat(4,1fr);
        grid-template-rows: auto;
        align-items: center;
        text-align: center;
        padding-right: 30%;
        gap: 10%;
    }

    .hoursContainer{
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        padding-bottom: 30%;
    }

}
  
/* @media screen and ( max-width: 960px){
    .time{
        background-color: white;
        position:absolute;
        margin-top: 0;
        width: 90%;
        height: 60%;
        margin-left: -45%;
        font-size: 2rem;
       }
    .nextApp{
        position: absolute;
        border:2px solid black;
        columns: 1;
        background-color: white;
        width: 90%;
        height: 30%;
        left: 5%;
        border-radius: 10px;
        top: 750vw;
    }
    .boxApp{
        position: absolute;
        top: -15%;
        left: 61%;
        height: 350px;
        width: 350px;
        border-radius: 50px;
        background-color: rgba(255, 255, 255, 0.377);
    }
.sum{
    position: absolute;
    margin-top: 20%;
    left: -92%;
}
.showApp{
    position: absolute;
    top: 220%;
    left: 24%;
    padding: 7px 10px;
    font-size: 24px;
    text-align: center;
    cursor: pointer;
    outline: none;
    color: #fff;
    background-color: #F06000;
    border: none;
    border-radius: 15px;
    box-shadow: 0 5px #999;
}
    .hoursShow{
        position: absolute;
        top: 161%;
        left: 8%;
        column-count: 4; 
        gap: 40px;
        margin-top: 25px;
        max-height: 420px;
    }
.hourTitle{
    position: absolute;
    top: 160%;
    left: -85%;
}
  
} */