.pricesContainer{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
}
.pricePicture{
    border: 3px solid #F06000;
    margin-left: 5px;
    margin-right: 5px;
    flex:1;
    border-radius: 50px;
}
.pricesBoard{
    flex:1;
}

.priceTitle{
    padding-top: 10px;
    font-family: 'Rubik', sans-serif !important;
    transform: scaleX(1.5);
    color: #F06000 !important;
}
.dottedRow{
    border-top: dotted 1px white;
    width: 90%; 
}

.priceRow{
    display: flex;
    flex-direction: row;
    width: 130%;
}

@media (min-width: 760px) {
    .pricesContainer{
        flex-direction: row;
        text-align: center;
        align-items: center;
        justify-content: center;
    }
    .pricePicture{
        width: 50%;
        margin-left: 10px;
        flex:1;
    }
    .pricesBoard{
        width: 50%;
        flex:1;
    }
    .dottedRow{
        border-top: dotted 1px white;
        width: 90%; 
    }
    
    .priceRow{
        display: flex;
        flex-direction: row;
        width: 80%;
    }
}