.distance{
    /* margin-bottom: 20px; */
}

.hourButton{
    border-radius: 30px;

    border: 2px solid #F06000 ;
}

.hourButton:hover{
    cursor: pointer;
    box-shadow: 0 2px 2px 0 #F06000, 0 2px 2px 0 #F06000;
}

.hourButton:active {
    background-color: #F06000;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
  }
